@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');


*{box-sizing: border-box;}


body { font-family: "Jersey 15", serif;
    background-color: #B0BEC5;
   
}


h1,h2,h3,h4,p,ul { margin: 0;}


a { text-decoration: none;
    color: #B0BEC5;}


.wrap {
    width: 100%;
    padding: 60px 70px 70px 350px ;
}


header {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: #708D9B;
}


.logo {
    padding: 0px 15px;
}


nav {
    margin-left: auto;
    display: flex ;
    gap: 20px;
}


nav ul  {
    list-style: none;
    display: flex;
    gap: 20px;
}


nav img {
    padding: 5px;
    border: 3px solid #B0BEC5;
    border-radius: 20px
}


.item {
    border: 3px solid #B0BEC5;
}


.card {
    width: 350px;
    padding: 17px;
}


.card img {
    width: 64px;
    margin: 0px;
}

img {
    width: 100%;
}


.main-title { font-size: 60px;}


.main-intro {
    width: 350px;
    font-size: 20px;
}


section {
   
    display: flex;
    color: #ffffff;
    background-color: #B0BEC5;
    gap: 100px;
}

footer { display: block;
    padding: 15px ;
    text-align: center;
    background-color: #708D9B;
    color: #B0BEC5;
}